.btn {
  margin-left: 16px;
  margin-top: 1rem;
}

.card {
  max-width: 43.75rem;
  min-width: 43.75rem;
  margin-bottom: 12.5rem;
  max-height: 43.75rem;
  min-height: 43.75rem;
}
@media screen and (max-width: 1000px) {
  .card {
    margin-bottom: 6.5rem;
  }
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
  transition: 0.4s ease;
}

.card-body {
  padding: 3rem 0 !important;
  background-color: whitesmoke;
}

.card-text {
  font-size: 1rem;
  padding-top: 6rem;
}

.container-fluid.row {
  padding-top: 6rem;
}

.card-img-top {
  transform: scale(1);
  transition: transform 0.5s ease;

  height: auto !important;
  min-height: 16.75rem;
  max-height: 16.75rem !important;
  width: 100% !important;
  max-width: auto !important;
}

.overflow {
  overflow: hidden;
}

.card-img-top:hover {
  transform: scale(1.8);
}
